*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
        
--White: hsl(0, 0%, 100%);
--Lightgrayishviolet: hsl(270, 3%, 87%);
--Darkgrayishviolet: hsl(279, 6%, 55%);
--Verydarkviolet: hsl(278, 68%, 11%);
--Redinputerrors: hsl(0, 100%, 66%);

}



body{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    width: 100vw;
    
}
img{
    width: 100%;
}

.flex_card{
    position: relative;
    width: 500px;
    
}


.card{
    padding: 10px 10px;
}

.back img {
    position: absolute;
    width: 360px;
    height: auto;
    top: 42px;
    left: 87px;
}

.front img {
    position: absolute;
    width: 360px;
    top: 155px;
    left: 41px;
    height: auto;
}

.card-logo img{
    width: 60px;
}

.card_info{
    position: absolute;
    color: var(--White);
    font-weight: 400;
    top: 162px;
    left: 59px;
    padding: 10px 10px;
}

.card_info h2{
    text-align: center;
    color: var(--White);
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 23px;
    
    
}

.card_num{
    padding-top: 30px;

}

.card_data p{
    display: inline;
    text-transform: uppercase;
    font-weight: lighter;
}

.card_data{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.cvc_code{
    position: absolute;
    color: var(--White);
    top: 128px;
    right: 104px;
    z-index: 3;
}

form{
    padding: 77px 48px 30px 48px ;
}

form label{
    text-transform: uppercase;
    font-size: 14px;
}


#fname, #num, #inputExpDateMonth, #inputExpDateYear, #cvv {
    display: block;
    width: 100%;
    height: 60px;
    outline: none;
    border: 1px solid var(--Lightgrayishviolet);
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;

}

#inputExpDateMonth, #inputExpDateYear{
    margin-right: 10px;
    display: inline;
    width: 60px;
}

::placeholder{
    padding-left: 5px;
    font-size: 18px;
    font-weight: 600;
    color: var(--Lightgrayishviolet);
}

input:invalid{
    border: 1px solid var(--Redinputerrors);
}

 #cvv{
    display: inline;
    width: 53%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span{
    
    margin-left: 30px;
}

.date{
    display: block;
}


.submit{
    display: block;
    background: var(--Verydarkviolet);
    border: none;
	color: white;
	border-radius: 10px;
	height: 50px;
	width: 100%;
    font-size: 16px;
    margin-top: 30px;
	
}

.submit:hover{
    background-color: var(--Lightgrayishviolet);
}

.sub{
    
    display: inline;
    background: var(--Verydarkviolet);
    border: none;
	color: white;
	border-radius: 10px;
	height: 50px;
	width: 400px;
    font-size: 16px;
   justify-content: center;
   justify-items: center;
   
}

.complete img{
    width: 100px;
    margin-bottom: 30px;
}

.complete h1{
    text-transform: uppercase;
    margin-bottom: 30px;
}
.complete p{
   color: var(--Darkgrayishviolet);
    margin-bottom: 30px;
}
.complete{
    
    padding: 77px 0px 30px 0px;
    text-align: center;
    width: 404px;
    
    transform: translateX(-120%);
    
    position: absolute;
    top: 355px;
    left: 54px;
    background-color: var(--White);

}

.open{
    transform: translateX(0%);
    
}

.open{
  
    transition: all 0.3s ease-in-out;
}


.close{
    display: none;
}


.form input:focus, textarea:focus {

    border-image-source: linear-gradient(hsl(249, 99%, 64%) , hsl(278, 94%, 30%)) !important;
    border-width: 1pt !important;
    border-image-slice: 1 !important;
    border-radius: 10px !important;
    }
    
    input:focus, textarea:focus, select:focus {
    outline-offset: 0px !important;
    outline: none !important;
    }

    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



    @media only screen and (min-width: 600px) {
       
        body{
            width: 100vw;
            height: 100vh;
        }

        .flex_card{
            display: flex;
            width: 1000px;
            height: 60px;
          
        }

        picture img{
            width: 383px;
        }

        form{
            position: relative;
            left: 300px;
            top: 80px;
        }

        #fname, #num, #inputExpDateMonth, #inputExpDateYear, #cvv {
        
            height: 47px;
         
        
        }


        .back img {
            
            top: 322px;
            left: 203px;
        }
        
        .front img {
           
            top: 103px;
            left: 131px;
           
        }

        .card_info{
           
            top: 113px;
            left: 150px;
           
        }

        .back , .front{
            width: 300px;
        }

        .complete{
    
          
            transform: translateX(820%);
            top: 76px;
            left: -60px;
            
         
        
        }

        .open{
            transform: translateX(180%);
            
        }
    

       
      }